name: CD (Development)

on:
  workflow_run:
    workflows: ['CI']
    types:
      - completed
    branches:
      - develop
      - 'feature/**'

jobs:
  deploy-development:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: development
      ci-run-id: ${{ github.event.workflow_run.id }}
